
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Use your own code or past solution for Great Idea Web Page CSS here! */
.container {
  width: 880px;
  margin: 0 auto;
}

.nav-bar {
  top: 0;
  width: 880px;
  position: fixed;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
} 

.nav-bar .nav-links {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: rgb(179, 179, 179);
  font-weight: 600;
}

.nav-bar .nav-links a:hover {
  color: black;
}

.about {
  margin: 100px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.about {
	margin: 135px 60px 90px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title h1 {
	font-size: 80px;
	text-align: center;
}

.title button {
	display: block;
	border: 1px solid black;
	width: 180px;
	background: white;
	margin: 0 auto;
  font-size: 16px;
  padding: 5px;
}

.title button:hover {
  background-color: gray;
  color: white;
	cursor: pointer;
}

.top-section {
	display: flex;
	justify-content: space-between;
  margin: 20px 0;
}

.top-section p {
  line-height: 1.1;
}

.middle-img {
	width: 100%;
	margin: 15px auto;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
	margin: 20px 0 25px 0;
}

.bottom-section div {
  width: 33%;
}

.bottom-section p {
  line-height: 1.1;
}

.contact {
	margin: 40px 0;
}

hr {
	margin: 20px 0;
	border: 0.8px solid black;
}

h2 {
	font-size: 16px;
}

.footer {
	text-align: center;
	margin: 20px 0;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
  .nav-bar {
    width: 750px;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 145px;
    align-content: center;
  }  
  .nav-bar .nav-links {
    width: 100%;
    justify-content: space-between;
  }

  #header-img {
    display: none;
  }
  .title {
    width: 100%;
  }

  .about {
    margin: 185px 0 75px 0;
  }

  .top-section {
    margin: 35px 10px 25px 10px; 
  }
  
  .top-section div{
    width: 49%;
  } 

  .bottom-section {
    margin: 15px 10px 40px 10px;
  }

  .bottom-section div {
    width: 29%;
  }
  .contact {
    margin: 10px 10px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 490px;
    margin: 0 auto;
  }
  .nav-bar {
    position: static;
    width: 490px;
    height: 460px;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
  }  
  .about {
    margin: 25px 0 50px 0;
  }
  .logo {
    margin-bottom: 20px;
  }
  .nav-bar .nav-links {
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  .nav-bar .nav-links :nth-child(1){
    border-top: 0.5px solid gray;
  }
  .nav-bar .nav-links a{
    padding: 20px;
    font-size: 20px;
    border-bottom: 0.5px solid gray;
  }
  .top-section {
    flex-direction: column;
    margin: 0;
  }
  .top-section div {
    width: 100%;
    margin: 20px 0;
  }
  .bottom-section {
    flex-direction: column;
    margin: 0;
  }
  .bottom-section div {
    width: 100%;
    margin: 20px 0;
  }
  .contact {
    margin: 0;
  }
}  